<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>短链接-Short Url</title>
    <meta content="长地址转短地址服务，长链接转短链接服务。Convert long url to short url." name="description">
    <style>
        html,body{
            height: 100%;
        }
    </style>
  </head>
  <body>
    <div class="container" style="height: 100%;">
        <div class="row align-items-end" style="height: 60%;">
            <form class="col-md-12" method="POST" action="">
                <div class="form-group">
                    <label class="sr-only" for="exampleFormControlInput1">域名</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <!-- <div class="input-group-text">http://</div> -->
                            <select name="protocol" class="form-control">
                                <option value="http">http://</option>
                                <option value="https">https://</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="www.ifth.net/" name="url">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="exampleFormControlSelect1">重定向格式</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div> -->
                <button type="submit" class="btn btn-outline-success btn-block">Generate</button>
                <br>
                {{ if not .Ok}}
                    <div class="alert alert-danger" role="alert">
                        {{.Tips}}
                    </div>
                {{ else }}
                    <div class="alert alert-success text-center" role="alert">
                        <a href="{{.Url}}" target="blank">{{.Url}}</a>
                    </div>
                {{ end }}
            </form>
        </div>
        {{ if .Newest }}
        <div class="row align-items-start  justify-content-md-center" style="height: 40%;">
            <div class="md-col-6">
                <h4 class="text-center">Newest</h4>
                <ul>
                    {{range .Newest}}
                    <li><a href="{{.Url}}" target="blank">{{.Url}}</a></li>
                    {{end}}
                </ul>
            </div>
            <div class="md-col-6">
                <h4 class="text-center">Hottest</h4>
                <ul>
                    {{range .Hottest}}
                    <li><a href="{{.Url}}" target="blank">[{{.Count}}]{{.Url}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
        {{end}}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
